<html>
    <body>
        <h1>Hello, template!</h1>

        <a href="zet/1/2/3/4">testzet</a>

        <table border="1">
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            </tr>
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            </tr>
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            </tr>
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            </tr>
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            </tr>
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            </tr>
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            </tr>
            <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
                <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            </tr>
        </table>

        <form>
            Van:
            x1, y1
            Naar:
            x2, y2
            Uitvoeren
        </form>

    </body>
</html>