<html>

<head>
    <script>
        function van(x, y) {
            document.getElementById('x1').value = x;
            document.getElementById('y1').value = y;
        }
    </script>
</head>

<body>
    <h1>Hello, template!</h1>

    <table border="1">
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;" onclick="van(1, 8);"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
        </tr>
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
        </tr>
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
        </tr>
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
        </tr>
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
        </tr>
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
        </tr>
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
        </tr>
        <tr style="height: 40px; margin: 0px; border: 1px; padding: 0px;">
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px; background-color: grey;"></td>
            <td style="width: 40px; margin: 0px; border: 1px; padding: 0px;"></td>
        </tr>
    </table>

    <h3>Doe een zet</h3>
    <a href="zet/1/2/3/4">testzet</a>
    <form action="/zet">
        Van:
        <input id="x1" name="x1" value="x1">
        <input id="y1" name="y1" value="y1"><br>
        Naar:
        <input id="x2" name="x2" value="x2">
        <input id="y2" name="y2" value="y2"><br>
        <input type="submit" value="Kaas" />
    </form>

</body>

</html>